@font-face {
    font-family: 'regular';
    /* 重命名字体名 */
    src: url('SHST_regular.otf');
}
@font-face {
    font-family: 'title';
    /* 重命名字体名 */
    src: url('SHST_title.otf');
}
@font-face {
    font-family: 'heavy';
    /* 重命名字体名 */
    src: url('SHHT_Heavy.otf');
}
@font-face {
    font-family: 'heavy';
    /* 重命名字体名 */
    src: url('SHHT_Heavy.otf');
}
@font-face {
    font-family: 'medium';
    /* 重命名字体名 */
    src: url('SYHT_medium.otf');
}
@font-face {
    font-family: 'alimama';
    /* 重命名字体名 */
    src: url('alimama.ttf');
}